body {
  background-color: #221D23;
  color: #D3F9B5;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.stats {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

a {
  color: #D1603D;
}
