<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Справочник автомобилей</title>
  </head>
  <body>
    <section class="discr">
      <h2>Справочник автомобилей</h2>
      <article class="disc">
        <p>Это небольшое приложение представляет собой справочник автомобилей.</p>
        <p>Пользователю доступны следующие возможности:</p>
        <ul>
          <li>Показ всех машин в базе</li>
          <li>Показ машин, удовлетворяющих заданным параметрам</li>
          <li>Добавление машины в базу</li>
          <li>Удаление машины из базы (по id)</li>
          <li>Показ статистики по базе</li>
        </ul>
        <p>Для того, чтобы приступить к работе перейдите по этой
            <a href="/cars/">ссылке</a></p>
        <p>Описание API можно найти по следующей <a href="/api/">ссылке</a>.</p>
        <p>Для получения статистики по текущей базе вы можете перейти по <a href="/cars/stats/">ссылке</a>.</p>
      </article>
    </section>
  </body>
</html>
