<section class="search">
  <h3>Найти автомобили</h3>
  <form class="sear" action="" method="get">
    <div class="item">
      <label for="id">id</label>
      <input type="number" min="1" name="id" placeholder="id">
    </div>
    <div class="item">
      <label for="num">Номер</label>
      <input type="text" name="num" placeholder="Номер">
    </div>
    <div class="item">
      <label for="model">Модель</label>
      <input type="text" name="model" placeholder="Модель">
    </div>
    <div class="item">
      <label for="color">Цвет</label>
      <input type="text" name="color" placeholder="Цвет">
    </div>
    <div class="item">
      <label for="year">Год</label>
      <input type="text" name="year" placeholder="Год">
    </div>
    <input type="submit" value="Найти">
  </form>
</section>
